<%= form_for [@post, @review] do |f|%>
  <div class="field">
    <%= f.collection_radio_buttons :rating, @rating_options, :first, :last %>
  </div>

  <div class="field">
    <%= f.label :body, "Comments" %>
    <%= f.text_area :body %>
  </div>

  <div class="actions">
    <input name="commit" type="submit" value="Submit Review"/>
  </div>
<% end %>
