@import "foundation_and_overrides";
@import "settings";
@import "custom";

@include foundation-button;



a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

tr {
  background-color:rgba(225, 225, 225, 0.75);
}
