@import "foundation_and_overrides";
@import "settings";
@import "custom";

@include foundation-button;

$main-color: #96c49a;
$secondary-color: #e5c32e;
$font-sans: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

tr {
  background-color:rgba(225, 225, 225, 0.75);
}
