@import "foundation_and_overrides";
@import "settings";
@import "custom";

@include foundation-button;

$main-color: #2962FF;
$secondary-color: #2962FF;
$font-sans: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

tr {
 background-color:rgba($secondary-color, 0.25);
}
