html {
  background-image: image-url("film-set.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
};
.top-bar {
  background-color: black;
}
#interior {
  background-color:rgba(225, 225, 225, 0.75);
}

#search {
  margin-right: 16px;
}

#update_button {
  margin-top: 10px
}

#uvote {
  background-color: #2A8D36;
}

#dvote {
  background-color: #A81108;
}
