<h1>Admin</h1>

<table>
  <thead>
    <tr>
      <th width="150">Username</th>
      <th width="200">Email</th>
      <th width="100">Delete?</th>
    </tr>
  </thead>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.username %></td>
      <td><%= user.email %></td>
      <td><%= button_to 'Delete User', admin_destroy_user_path(user),
              method: :delete,
              data: { confirm: 'Are you sure?' }, class: "alert button expand" %></td>
    </tr>
  <% end %>
</table>
