<h1>Admin</h1>

<table>
  <% @users.each do |user| %>
    <tr>
      <td><strong>Username:</strong> <%= user.username %></td>
      <td><strong>Email:</strong> <%= user.email %></td>
    </tr>
  <% end %>
</table>
